  <script type="text/javascript" id="MathJax-script" async src="/assets/MathJax-master/es5/tex-mml-chtml.js"></script>
  <!--
    Inline Math: [text] $$...$$ [text] (note the double dollar signs)

      converted by kramdown into [text] \(...\) [text] in the HTML
      MathJax 3 directly parses and renders the HTML as inline math

    Display Math: [newline] $$...$$ [newline]

      converted by kramdown into [newline] \[...\] [newline] in the HTML
      MathJax 3 directly parses and renders the HTML as display math

    https://chrisyeh96.github.io/2020/03/29/mathjax3.html
  -->
